.promotion-wrapper > .paragraph__text {
  text-align: center;

  &:last-child {
    font-size: $font_size-18;
    margin-top: 4rem;

    @media only screen and (min-width: 1104px) {
      text-align: start;
    }
  }
}

.promotion__text {
  line-height: 1.5;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: $color_pink-main;
  font-weight: $font_weight-bold;
  font-size: $font_size-18;

  @media only screen and (min-width: 1104px) {
    font-size: $font_size-22;
  }

  &-italic {
    font-style: italic;
  }

  &-underline {
    text-decoration: underline;
  }
}
