.date {
  display: flex;
  margin-bottom: 1rem;

  &_text {
    color: $color_grey-light;
    margin-left: 1rem;
    &::first-letter {
        text-transform: uppercase;
    }
  }
}

.date-blog-posts {
  display: flex;
  margin-bottom: 0;

  &_text {
    font-size: $font_size-12;
    color: $color_grey-light;
    margin-left: 1rem;
    &::first-letter {
        text-transform: uppercase;
    }
  }
}
