.btn {
    background-color: $color_pink-main;
    color: $color_white;
    border: none;
    height: 4rem;
    width: 16rem;
    font-size: $font_size-base;
}

.btn_link {
    color: $color_white;
    text-decoration: none;
}