.btn {
  height: auto;
  width: fit-content;
  border: none;
  font-size: $font_size-base;
  background-color: $color_pink-main;
  color: $color_white;
}

.btn_link {
  display: block;
  color: $color_white;
  text-decoration: none;
}
