.btn {
<<<<<<< HEAD
  background-color: $color_pink-main;
  color: $color_white;
  border: none;
  height: 4rem;
  width: 16rem;
  font-size: $font_size-base;
  cursor: pointer;
}

.btn_link {
  color: $color_white;
  text-decoration: none;
}
=======
  height: auto;
  width: fit-content;
  border: none;
  font-size: $font_size-base;
  background-color: $color_pink-main;
  color: $color_white;
}

.btn_link {
  display: block;
  color: $color_white;
  text-decoration: none;
}
>>>>>>> f799eb19c4ff829e988d931aa596d82592c0fcd7
