html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box_wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (min-width: 768px){
    max-width: 768px;
  }

  @media only screen and (min-width: 1104px){
    max-width: 1104px;
  }

  @media only screen and (min-width: 1301px){
    padding-right: 0;
    padding-left: 0;
    max-width: 1242px;
  }
}

