//Roboto
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// MariadPro
@font-face {
  font-family: 'MariadPro-Bold';
  src: url('../fonts/myriadpro-bold.woff2') format('woff2'),
    url('../fonts/myriadpro-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MariadPro-Light';
  src: url('../fonts/myriadpro-light.woff2') format('woff2'),
    url('../fonts/myriadpro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MariadPro-Regular';
  src: url('../fonts/myriadpro-regular.woff2') format('woff2'),
    url('../fonts/myriadpro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// AmsiProNarw-BlackItalic
@font-face {
  font-family: 'AmsiProNarw-BlackItalic';
  src: url('../fonts/AmsiProNarw-BlackItalic.woff2') format('woff2'),
    url('../fonts/AmsiProNarw-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font: 'Roboto-Regular';