// Font Weight
$font_weight-light: 300;
$font_weight-regular: 400;
$font_weight-medium: 500;
$font_weight-semiBold: 600;
$font_weight-bold: 700;

// Font Size
$font_size-base: 1.4rem;
$font_size-10: 1rem;
$font_size-11: 1.1rem;
$font_size-13: 1.3rem;
$font_size-14: 1.4rem;
$font_size-15: 1.5rem;
$font_size-18: 1.8rem;
$font_size-24: 2.4rem;
$font_size-30: 3rem;
$font_size-36: 3.6rem;
$font_size-40: 4rem;
$font_size-48: 4.8rem;
$font_size-56: 5.6rem;
$font_size-90: 9rem;