.instagram-post {
  max-width: 530px;
  width: 100%;
  background-color: $color_white;
  font-family: 'MariadPro-Regular';
  box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  margin-bottom: 2.2rem;

  @media only screen and (min-width: 1104px) {
    margin-bottom: 5rem;
  }

  &__header {
    display: flex;
    font-size: $font_size-12;
    font-weight: $font_weight-bold;
    justify-content: space-between;
    padding: 1rem;

    &__flex {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color_black;
    }

    &__avatar {
      width: 2.2rem;
      margin-right: 1rem;

      @media only screen and (min-width: 1104px) {
        width: 5rem;
      }
    }

    &__name {
      font-weight: $font_weight-semiBold;

      @media only screen and (min-width: 1104px) {
        font-size: $font_size-18;
      }
    }

    &__verified {
      width: 0.8rem;
      margin-left: 0.25rem;
      margin-top: 0.5rem;
      align-self: flex-start;

      @media only screen and (min-width: 1104px) {
        width: 1.6rem;
        position: absolute;
        top: 0;
        left: 67%;
      }
    }

    &__followers {
      display: none;

      @media only screen and (min-width: 1104px) {
        display: block;
        color: $color_grey-light;
        font-size: $font_size-15;
        font-weight: $font_weight-light;
      }
    }

    &__menu {
      border: none;
      background-color: transparent;

      &__img {
        width: 1.3rem;
        margin-right: 1rem;

        @media only screen and (min-width: 1104px) {
          width: 2.5rem;
        }
      }
    }
  }

  &__main-photo {
    width: 100%;
  }

  &__interactions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

    @media only screen and (min-width: 1104px) {
      margin: 2rem 0;
    }
  }

  &__one-interaction {
    width: 1.7rem;
    margin-right: 1.3rem;

    @media only screen and (min-width: 1104px) {
      width: 3rem;
    }
  }

  &__comment {
    width: 1.4rem;

    @media only screen and (min-width: 1104px) {
      width: 2.6rem;
    }
  }

  &__save {
    width: 1.2rem;

    @media only screen and (min-width: 1104px) {
      width: 2.1rem;
    }
  }

  &__number-of-likes {
    font-weight: $font_weight-semiBold;
    margin-bottom: 1rem;
    padding: 0 1rem;

    @media only screen and (min-width: 1104px) {
     font-size: $font_size-18;
    }
  }

  &__content {
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-size: $font_size-11;

    @media only screen and (min-width: 1104px) {
      font-size: $font_size-14;
     }
  }

  &__name {
    font-weight: $font_weight-semiBold;
    margin-right: 0.25rem;
  }

  &__text {
    font-weight: $font_weight-light;

    &-2 {
      margin-top: 1rem;
    }
  }

  &__hashtags {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
  }

  &__one-hashtag {
    padding: 0 0.15rem;
    font-size: $font_size-11;
    color: $color_blue;

    @media only screen and (min-width: 1104px) {
      font-size: $font_size-14;
     }
  }

  &__comments {
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-decoration: none;

    &-link {
        text-decoration: none;
        font-size: $font_size-10;
        color: $color-grey-light-additional;

        @media only screen and (min-width: 1104px) {
          font-size: $font_size-14;
         }
    }
  }
}
