.header {
  margin-top: 1.5rem;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &_social-media_item {
    margin-right: 3rem;
  }

  &_text {
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    color: $color_grey-dark;
    font-size: $font_size-15;
  }

  &_highlight {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $color_grey-light;
    margin-bottom: 2rem;
    opacity: 0.2;
  }

  &_highlight:last-child {
    display: none;
  }

  &_navigation {
    display: none;
  }


  @media only screen and (min-width: 1104px) {
    &_highlight {
      margin-bottom: 0;
    }

    &_highlight:last-child {
      margin-bottom: 2rem;
      display: block;
    }

    &_menu {
      display: none;
    }

    &_navigation {
      display: block;
      height: 6rem;
      line-height: 6rem;
      text-align: center;
    }

    &_navigation_item {
      text-decoration: none;
      color: $color_black_additional;
      font-size: $font_size-20;
      font-weight: $font_weight-bold;
      text-transform: uppercase;
      margin-right: 4.5rem;
      margin-left: 4.5rem;
    }

    &_text {
      font-size: $font_size-18;
    }
  
  }
}

.logo {
  position: relative;

  &_item {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: $font-size-40;
  }

  &_item-star {
    font-family: 'Abuget';
    font-size: $font_size-90;
    color: $color_pink-main;
    font-weight: $font_weight-light;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
