.header {
  margin-top: 1.5rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__social-media_item {
    margin-right: 3rem;
  }

  &__text {
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    color: $color_grey-dark;
    font-size: $font_size-15;
  }

  &__highlight {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: $color_grey-light;
    margin-bottom: 2rem;
    opacity: 0.2;
  }

  &__highlight-last {
    display: none;
  }

  &__highlight-show {
    display: block;
  }

  &__navigation {
    display: none;
  }

  &__menu {
    cursor: pointer;
  }
  
  &__navigation-show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation_item {
    text-decoration: none;
    text-transform: uppercase;
    color: $color_black_additional;
    font-weight: $font_weight-bold;
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: 1104px) {
    &__highlight {
      margin-bottom: 0;
    }

    &__highlight:last-child {
      margin-bottom: 2rem;
      display: block;
    }

    &__menu {
      display: none;
    }

    &__navigation {
      display: flex;
      padding: 0 5rem;
      height: 6rem;
      align-items: center;
      justify-content: space-around;
    }

    &_navigation_item {
      margin-bottom: 0;
      font-size: $font_size-20;
    }

    &__text {
      font-size: $font_size-18;
    }
  
  }
}

.logo {
  position: relative;

  &__item {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: $font-size-40;
  }

  &__item-star {
    font-family: 'Abuget';
    font-size: $font_size-90;
    color: $color_pink-main;
    font-weight: $font_weight-light;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}

