.header {
    margin-top: 1.5rem;
}

.header__social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__social-media__item {
    margin-right: 3rem;
}

.logo-wrapper {
    position: relative;
}

.logo {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: $font-size-40;
}

.logo-star {
    font-family: 'Abuget';
    font-size: $font_size-90;
    color: $color_pink-main;
    font-weight: $font_weight-light;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.header__text {
    margin-top: 7rem;
    text-align: center;
    color:$color_grey-dark;
}