.comercial {
  &__content-wrapper {
    position: relative;
    width: 390px;
    margin-top: 38px;
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 29px;
    width: fit-content;
    padding: 13px 26px;
    height: auto;
    transform: translateX(-50%);
    font-family: 'OpenSans-Bold';
    font-size: $font_size-21;

    &_white {
      background-color: $color_white;
      color: $color_black_additional;
    }

    &_orange {
      background-color: $color_orange;
    }
  }

  &-small-blog__btn {
    position: absolute;
    left: 50%;
    bottom: 3%;
    font-size: $font_size-15;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
  }

  
  &-wide-blog__btn {
    height: 7rem;
    left: 81%;
    bottom: 8%;
    box-shadow: 5px 3px 6px 1px $color-pink-additional;
  }
}
