.comment_form {

  color: $color_grey-light;

  & > span {
    display: block;
    margin-bottom: 5px;
  }

  &__user_name {
    width: 100%;
    min-height: 24px;
    margin-bottom: 5px;
    border: 1px solid $color_grey;
  }

  &__user_msg {
    width: 100%;
    min-height: 94px;
    margin-bottom: 20px;
    border: 1px solid $color_grey;
  }

  &-wrapper {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  &__header {
    margin-bottom: 25px;
    font-family: 'Roboto-Bold';
    font-size: $font_size-25;
  }

  &__article {
    margin-bottom: 20px;
    font-size: $font_size-18;

    & > span {
      padding-left: 3px;
    }
  }

  &__text_registration {
    margin-bottom: 30px;
    font-size: $font_size-18;
    color: $color_grey-light;
  }

  &__login-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;

    & a:last-child {
      margin-right: 0;
    }

    @media only screen and (min-width: 768px) {
      justify-content: unset;
    }

    & > span {
      text-align: center;
      display: block;
      margin: 11px 0;
      width: 100%;
      
      @media only screen and (min-width: 768px) {
        width: 85px;
        margin: 0;
      }
    }
  }

  &__social_link {
    margin-right: 20px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 169px;
    padding: 12px 35px;
    font-size: $font_size-14;

    @media only screen and (min-width: 576px) {
      width: fit-content;
      max-width: unset;
      min-width: 228px;
      padding: 20px 50px;
      font-size: $font_size-18;
    }

    &_light {
      border: 1px solid $color_grey;
      color: $color_grey;
      background-color: $color_white;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-around;
      width: 169px;

      @media only screen and (min-width: 576px) {
        justify-content: space-between;
        width: 482px;
      }

      @media only screen and (min-width: 768px) {
        margin: unset;
      }

      & > a:first-child {
        margin-bottom: 26px;

        @media only screen and (min-width: 576px) {
          margin-bottom: 0;
        }
      } 
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.add_btn {
  min-width: unset;
  width: 123px;
  padding: 12px 12px;
  font-size: $font_size-12;

  @media only screen and (min-width: 576px) {
    width: unset;
    min-width: 228px;
    padding: 20px 50px;
    font-size: $font_size-18;
  }

  &-wrapper {
    justify-content: space-between;
    margin: unset;
    width: 261px;

    @media only screen and (min-width: 576px) {
      margin: 0 auto;
      width: 482px;
    }

    @media only screen and (min-width: 768px) {
      margin: unset;
    }

    & > a:first-child {
      margin-bottom: 0;
    } 
  }
}